/target/test-classes/org/example/AppTest.class
/target/classes/org/example/controller/CompraProveedorController.class
/target/classes/org/example/dao/CompraProveedorDAO.class
/target/classes/org/example/dto/CompraProveedorDTO.class
/target/classes/templates/compras.html
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/classes/templates/historial-productos.html
/target/classes/templates/historial-stock.html
/target/classes/org/example/controller/HistorialProductoController.class
/target/classes/org/example/dao/HistorialProductoDAO.class
/target/classes/org/example/dto/HistorialProductoDTO.class
/target/classes/org/example/controller/HistorialStockController.class
/target/classes/org/example/dao/HistorialStockDAO.class
/target/classes/org/example/dto/HistorialStockDTO.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/surefire-reports/org.example.AppTest.txt
/target/classes/org/example/dto/ProductoProveedorDTO.class
/target/classes/org/example/controller/ProveedorController.class
/target/classes/org/example/dao/ProveedorDAO.class
/target/classes/org/example/dto/ProveedorDTO.class
/target/classes/templates/proveedores.html
/target/classes/templates/reporte-categoria.html
/target/surefire-reports/TEST-org.example.AppTest.xml
/target/classes/org/example/controller/UsuarioController.class
/target/classes/org/example/dao/UsuarioDAO.class
/target/classes/org/example/dto/UsuarioDTO.class
/target/classes/templates/usuarios.html
